<section [ngClass]="{'row category-wrap':true, 'selected':isSelected}">
  <div [ngClass]="{'col-xs paper':true, 'selected':isSelected}"> {{message}}
    <div class="category row middle-xs" (click)="handleClick()">
      <i [ngClass]="{'icon fa': true, 'fa-caret-square-o-up':isSelected, 'fa-caret-square-o-down':!isSelected}"></i>
      <section class="name">{{category.name}}</section>
      <section class="col-xs"></section>
      <section class="col-xs-2" style="text-align:right;">
        <div class="amount">7,92,139</div>
      </section>
      <section class="col-xs-2" style="text-align:right;">
        <div class="amount">
          <div class="row middle-xs">
            <div class="col-xs">{{category.amount}}</div>
            <div style="color:green; font-size:12px;">
              <i class="fa fa-arrow-up"></i>(44%)
            </div>
          </div>
        </div>
      </section>
    </div>
    <section *ngIf="category.hasSubCategory && isSelected">
      <div class="sub-header">
        Sub Category ({{category.subCategories.length}})
      </div>
      <app-sub-category *ngFor="let subCategory of category.subCategories" [category]="subCategory"></app-sub-category>
    </section>
  </div>
</section>
