<section class="row">
  <div class="col-xs">
    <div class="sub-category row middle-xs" >
      <i class="fa fa-pencil icon" *ngIf="isEditing()"></i>
      <section class="name">{{category.name}} <label *ngIf="isEditing()" style="font-size:10px; color:#adadad">(Editing)</label></section>
      <section class="col-xs"></section>
      <section class="col-xs-2" style="text-align:right;">
        <div class="amount">{{category.amount}}</div>
      </section>
      <section class="col-xs-2" style="text-align:right;">
        <div class="amount">
          <div class="row middle-xs">
            <div class="col-xs">{{category.amount}}</div>
            <div style="color:green; font-size:12px;">
              <i class="fa fa-arrow-up"></i>(10%)
            </div>
            <button (click)="toggleEdit()">
              <i [ngClass]="{'fa':true, 'fa-close':isEditing(), 'fa-pencil':!isEditing()}"></i>
            </button>
          </div>
        </div>
      </section>
      <div class="col-xs-12" style="padding:20px 25px; background-color:#e8e8e8; border:1px solid #ccc; margin:10px auto;" *ngIf="isEditing()">
        <form>
        <div class="row">
          <div class="col-xs-7">
              <div class="row middle-xs">
                <div class="col-xs-12">
                  <h3 style="margin-top:0">My Budget</h3>
                </div>
                <div class="col-xs">
                  <label><i class="fa fa-gbp"></i></label>
                  <input type="text" [(ngModel)]="amt" name="amt" (input)="test()"/>
                </div>
                <div class="col-xs">
                  <select>
                    <option value="0">Select</option>
                    <option value="expense">Expense</option>
                    <option value="income">Income</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row middle-xs">
                <div class="col-xs-12" style="padding:0">
                  <input type="radio" name="t" id="_1" checked>
                  <label for="_1">From now on</label>
                </div>
                <div class="col-xs-12" style="padding:0">
                  <input type="radio" name="t" id="_2">
                  <label for="_2">Just this month (Apr. 2017)</label>
                </div>
              </div>
              <br/>
              <div class="row middle-xs">
                <div class="col-xs-12">
                  <h3 style="margin-top:0;">Auto Budget</h3>
                </div>
              </div>
              <div class="row middle-xs">
                <div class="col-xs-12" style="padding:0">
                  <input type="radio" name="t1" id="t_1" checked>
                  <label for="t_1">Last month: <strong>£ -560.00</strong></label>
                </div>
                <div class="col-xs-12" style="padding:0">
                  <input type="radio" name="t1" id="t_2">
                  <label for="t_2">3 month average: <strong>£ -560.00</strong></label>
                </div>
                <div class="col-xs-12" style="padding:0">
                  <input type="radio" name="t1" id="t_3">
                  <label for="t_3">12 month average: <strong>£ -560.00</strong></label>
                </div>
                <div class="col-xs-12" style="padding:0">
                  <input type="radio" name="t1" id="t_4">
                  <label for="t_4"> Same as <select><option>12</option></select>  months ago</label>
                </div>
              </div>
          </div>
          <div class="col-xs-5">
            <app-google-chart type="ColumnChart" [data]="line_ChartData" [options]="line_ChartOptions"></app-google-chart>
          </div>
        </div>
        <hr/>
        <button type="submit">Update</button>
        <button (click)="toggleEdit()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</section>
